{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

  <div class="topnav">
    <a href="/">HOME</a> |
    <a href=myfirst.html>About</a> |
    <a href="{% static 'Bogdan_Manta_CV[515].pdf' %}" target="_blank">Resume</a> |
    <a href=resume.html>Resume</a> |
    <a href="/Welcome">Projects</a> |
    <a href="/Welcome">Cheat sheets</a> |
  </div>


  {% block title %}


    <h2>Welcome to Bogdan Manta's Blog!</h2>
  
    <h3>This is my project blog made in Django.</h3>
  
    <p>Here I am going to post some of my projects, info about me.</p>
    
    <p>Check out the About section <a href="myfirst.html">Here</a></p>
    
  
  {% endblock %}

</body>
</html>