<title>About</title>  
{% extends "main.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<body>
    
{% block content %}
<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'myglobal.css' %}">

<br>
<br>
<br>

<h1>Hello everyone!</h1>
<br>
<h2>Welcome to my blog!</h2>
<br>
<h4> Few words about me: </h4> 

<p> My name is Bogdan. I developed this project blog, and with this, I hope <br>I am going to get a job in the IT industry as an entry-level developer. </p> 

<p> My first experience with coding was in the early '90s when I got my first PC,<br> an HC90 (Romanian-made PC by ICE FELIX). It had an operating system that <br>supported the BASIC (Beginners' All-purpose Symbolic Instruction Code)<br> programming language. My first code was called 'MIRA TV TEST.'<br> I got my hands on a piece of paper with around 30 lines of code,<br> which I used to write all day long just to see that Mira test. </p> 

<p> Life took me on a different path, away from programming,<br> but in 2023, I decided to return to that particular spot, back in the '90s,<br> and take it from there to fulfil what was always running back in my mind: 'What if...'.<br> So, I started to take some online courses, going forward and backward through <br>different programming languages, until I decided to deepen my knowledge in Python.<br> I earned my certificate as a Python developer with fundamental knowledge in early September 2023.<br> I also completed a few small projects, but they were not enough<br> to convince any employer to give me a chance.<br>    I decided not to get discouraged and to learn more to increase my chances.<br> I dived into Python's libraries, creating a cool project in NumPy,<br> which you can see in the 'Projects' section." </p> 

 

<h4> About the blog project: </h4> 

<p> While learning about Django on W3Schools through a tennis club project, <br>I thought what I could create with the knowledge I gained,<br> different then the learning project featured in their Django course.<br> After conducting some Google searches, I decided to proceed with a blog project.<br> Although not the most original idea, it presented significant advantages. <br>It allowed me to apply all the knowledge from the course and more,<br> serving as a versatile marketing tool to showcase both myself and my projects in the blog sections. </p> 

<p> One major advantage was the availability of a well-designed CSS file <br>provided by W3Schools for navigation bars, tag names, and links.<br> This was perfect for my vision. Additionally, I aimed to incorporate a bootstrap into my blog,<br> featuring a personal picture and contact information.<br> While W3Schools offers a comprehensive 17-hour course on Bootstrap,<br> similar to Django, I opted for a faster approach using ChatGBT3.5.<br> I didn't remove the comments within the code for those with limited experience in CSS as me,<br> aiming to make it more accessible for anyone who wants to use it. </p> 

<p> As a Django developer, I acknowledge the importance of front-end technologies<br> such as HTML, CSS, JS, Bootstrap, etc. However, for this particular project,<br> my focus is primarily on back-end technologies.<br> The second objective was to ensure it looks polished as well,<br> since I plan to continually enhance it with new features and posts. </p> 

 

 

<h4> Problems and Solutions: </h4> 

<p>The initial challenge I encountered involved creating a 'Resume' section,<br>
     allowing users to download my C.V. in PDF format <br> while maintaining the ability 
     to navigate back to the main page.<br> However, the implementation didn't go as planned,<br>
      the PDF wouldn't display, likely due to display size issues.
      <br>You can access it under (/resume) for a better view of my description.</p> 

<p> The solution was to have the PDF file open in a new browser window.<br> 
    While this removes the need for a back button,<br> 
    it smoothes the download process for the PDF, making it more user-friendly. </p> 

<p> The most significant obstacle I faced was related to my approach <br>concerning the 'Projects'
     and 'Project in:' sections. <br>Initially, I chose to utilize Models to loop through my projects.<br>
      However, this approach felt unconventional when dealing with Query Set databases. </p> 

<p> To address this, I opted for a solution involving two separate views using a loop-in-a-loop method. </p> 

<p> In the first view, I was looping through a list of programming languages,<br>
     and for the second view, I was looping through a dictionary <br>where each key represents a programming language,
     <br>and the corresponding value is a list of projects for that language. <br>In both views,
       I have nested loops to iterate through the projects <br>associated with each programming language. </p> 

<p> In particular, the testing view (/testing) reflects my uncertainty <br>about achieving the intended functionality.
    <br>I used this section to test if I was on the right track,<br> and you can observe the outcome. </p> 

<p> Although I appreciated the result of the testing view,<br> I persevered in reaching my initial goal. 
    <br>Admittedly, I am unsure if this was the optimal approach,<br> but it was driven by a desire to produce the 
    envisioned result <br>while navigating through the complexities of the views. </p> 

<p> I set up distinct paths for each programming language,<br> and the corresponding 'program' 
    parameter in the view<br>allows me to customize the displayed information based on the selected language. </p> 

<p> These distinctive paths define how URLs should be mapped to <br>the “detailsp” view with specific programming languages.
    <br>The parameter (after views.detailsp) in the urlpatterns allows me <br>to pass additional parameters to the view.<br> In this case,
      specifying the 'program' parameter with a default value for each specific case. </p> 

<p> While it took numerous attempts and stretched my Python<br> knowledge to its limit to make it function, the result is as desired. </p> 

 

<p> The 'Notes' section was created using Models and proved to be much easier to implement. <br>The only challenge I encountered was attempting to pass links as strings in views.<br> Luckily, I stumbled upon the 'models.URLField' under Visual Studio Code suggestions,<br> thanks to a fortunate typo. </p> 

<p> I chose not to use the CRUD interface due to superuser password concerns.<br> The blog project will be posted on GitHub, prioritizing security and the integrity of the blog. </p> 

<p> Other minor issues arose from my limited knowledge of HTML.<br> For instance, I used multiple line breaks to format the text.<br> While not elegant, it served the desired purpose.<br> I'm aware that there are alternative ways to achieve the same result. </p> 

<p> Additionally, the annotation of the HTML files might seem a bit unconventional.<br> For clarity, my 'main.html' is my master. </p> 

<h4> Now, who is Kyo, and why is it under construction? </h4> 

<p> The blog wouldn't be complete without a section dedicated to my dog.<br> I envision this section as something special,<br> and I plan to take my time to create something meaningful for my beloved companion,<br> who holds a special place in my life and soul. </p> 

<h4>What's next?</h4> 

<p>I intend to expand the blog by adding more apps,<br> such as a comment section and integrating my Python projects (like the to-do list).<br> Until the comment section is ready, feel free to reach out on <br>LinkedIn or via email if you have any questions about the blog.<br> Your feedback is always welcome. </p> 


<a href="/">Back</a> 
    {% endblock %}

</body>
</html>